#info {
    border: solid 1px white;
    background-color: black;
    color: white;
    width: 20vh;
    height: max-content;
}

#next_shape {
    position: relative;
    background-color: black;
    border: 1px solid white;
    width: 20vh;
    height: 20vh;
    min-height: 10vh;
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#start{
    animation: blink .7s steps(2, start) infinite;
    background: #E1FF5F;
    border-radius: 2px;
    color: #202020;
    cursor: pointer;
}


* {
    font-family: 'Press Start 2P', cursive;
}
p {
    font-size: 1em;
}
h1 {
    font-size: 1.5em;
}
