.piece {
    border: 1px solid white;
    position: absolute;
}

.square {
    position: absolute;
    width: 19px;
    height: 19px;
    border: 1px solid white;
}


.type0 {
    background-color: #a000f0;
}
.type1 {
    background-color: #00f0f0;
}
.type2 {
    background-color: #f0a000;
}
.type3 {
    background-color: #0000f0;
}
.type4 {
    background-color: #00f000;
}
.type5 {
    background-color: #f00000;
}
.type6 {
    background-color: #f0f000;
}