body {
    overflow: hidden;
    background: black;
}

#container {
    border: 1px solid white;
}

#error {
    text-align: center;
}

#error h1 {
    font-size: 2vh;
    color: white;
}

#error p {
    font-size: 1.5vh;
    color: white;
}

#tetris {
    display: flex;
    justify-content: center;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 10vh;
}
#canvas {
    height: 80vh;
    width: 40vh;
    border: 1px solid white;
}
#win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vh;
    color: #E1FF5F;
    text-shadow: 0 0 10px #E1FF5F;
    animation: blink 1s infinite;
    text-align: center;
    display: none;
}
#win h1, #win a {
    font-size: 3vh;
}
  

@keyframes blink {
    to {
        outline: #E1FF5F solid 1px;
    }
}