{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NDI</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Custom CSS -->

    <!-- jQuery and Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />


    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body class="d-flex flex-column min-vh-100">
    
    <header>
        <nav class="navbar navbar-expand-lg py-3 shadow-sm d-flex flex-column text-light">
            <h1 class="navbar-title font-weight-bold d-block d-flex justify-content-center">Faire face aux changement climatique</a>
        </nav>
    </header>


    <div class="container mt-4 mb-4">
        {% block content %}
        {% endblock %}
    </div>
    
    <footer class="footer mt-auto py-2 text-white d-flex justify-content-center">
        <p> Site réalisé par 5 étudiants en BUT Informatique lors de la nuit de l'informatique 2023 </p>
    </footer>
</body>
</html>