{% extends 'base.html' %}

{% load static %}

{% block content %}

<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
{# <script src="https://cdn.amcharts.com/lib/5/geodata/data/countries2.js"></script> #}
{# <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script> #}
<script src="{% static 'js/contriesContinent.js' %}"></script>
<script src="{% static 'js/test.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>


<div class="p-5 bg-light">
  <div>
      <h2 class="pt-5 ps-5">Les arbres suffisent ils absorber tout le co2 ?</h2>
      <div class="d-flex justify-content-center">
          <button class="m-2 btn btn-success" onclick="afficher_reponse('1', true)">VRAI</button>
          <button class="m-2 btn btn-danger" onclick="afficher_reponse('1', false)">FAUX</button>
      </div>
      <p id="reponse-1" style="display:None">
          Bien sur les arbres capte énormément de co2 mais ils ne pourront pas capter tous le co2 de l'atmoshère. De plus, il y a le risque d'incendie et l'homme qui les coupes.
      </p>
  </div>
  <div>
      <h2 class="pt-5 ps-5">Les personnes ne sont pas assez sensibilisé sur les économies d'énergies ?</h2>
      <div class="d-flex justify-content-center">
          <button class="m-2 btn btn-success" onclick="afficher_reponse('2', true)">VRAI</button>
          <button class="m-2 btn btn-danger" onclick="afficher_reponse('2', false)">FAUX</button>
      </div>
      <p id="reponse-2" style="display:None">
          Une grande partie de la population mondiale n'a toujours pas été assez sensibilisé à l'économie d'énergie. De plus, pas tous le monde applique les bonnes méthodes.
      </p>
  </div>
  <div>
      <h2 class="pt-5 ps-5">Le co2 est le gaz le plus polluant ?</h2>
      <div class="d-flex justify-content-center">
          <button class="m-2 btn btn-success" onclick="afficher_reponse('3', true)">VRAI</button>
          <button class="m-2 btn btn-danger" onclick="afficher_reponse('3', false)">FAUX</button>
      </div>
      <div id="reponse-3" style="display:None">
          <p>
              le dioxyde de carbone est certe un gaz pollant mais ce n'est pas le plus pollant, les gaz les plus pollants (capacité à retenir la chaleur dans l'atmosphère) sont dans l'ordre:<br>
              <strong>Hexafluorure de soufre (SF6):</strong> très puissant, mais présent en quantités relativement faibles.<br>
              <strong>Dioxyde d'azote (NO2):</strong> Provenant principalement des activités humaines, telles que la combustion des combustibles fossiles.<br>
              <strong>Méthane (CH4):</strong> Émis lors de la production et du transport de charbon, de pétrole et de gaz naturel, ainsi que par la décomposition des déchets organiques dans les décharges.<br>
              <strong>Chlorofluorocarbones (CFC)</strong> et <strong>hydrochlorofluorocarbones (HCFC):</strong> Souvent utilisés dans les réfrigérants et les aérosols, mais leur utilisation diminue en raison du Protocole de Montréal visant à protéger la couche d'ozone.<br>
              <strong>Dioxyde de carbone (CO2):</strong> Bien que le CO2 soit le gaz à effet de serre le plus abondant, son potentiel de réchauffement global sur 100 ans est relativement bas par rapport à certains autres gaz. Cependant, en raison de ses émissions massives provenant de la combustion de combustibles fossiles, le CO2 reste le principal contributeur au changement climatique.<br>
          </p>
      </div>
  </div>
  <div>
      <h2 class="pt-5 ps-5">L'empreinte carbone concerne uniquement le co2 ?</h2>
      <div class="d-flex justify-content-center">
          <button class="m-2 btn btn-success" onclick="afficher_reponse('4', true)">VRAI</button>
          <button class="m-2 btn btn-danger" onclick="afficher_reponse('4', false)">FAUX</button>
      </div>
      <p id="reponse-4" style="display:None">
          Le terme d’empreinte carbone n’est pas forcement (voir peu souvent) adapté pour la mesure de l’impact ecologique, Le gaz le plus polluant n’etant pas le CO2. En l’occurance, par abus de langage, on utilise ce terme pour qualifier les emissions de gaz à effet de serre.
      </p>
  </div>
</div>


<div class="section">
    <h1>Impact Numérique en France</h1>
    <ul class="impact-list">
        <li class="impact-item">10% de la consommation électrique annuelle</li>
        <li class="impact-item">2.5% de l'empreinte carbone de la France</li>
        <li class="impact-item">20 millions de tonnes de déchets sont produits par an sur l'ensemble du cycle de vie des équipements, soit 299 kg/habitant</li>
        <li class="impact-item">62.5 millions de tonnes de ressources sont utilisées par an pour produire et utiliser les équipements numériques</li>
        <li class="impact-item">78% de l'impact environnemental du numérique sur les émissions de gaz à effet de serre est lié à l'étape de fabrication, 21% concerne la phase d'usage</li>
    </ul>
</div>

<div class="section">
    <h1>Monde</h1>
    <p>4% des émissions de gaz à effet de serre. Risque de doubler d'ici 2025</p>
</div>

<div class="section">
    <h1>Différents impacts</h1>
    <ul class="impact-list">
        <li class="impact-item">Cycle de vie des appareils électriques. La fabrication d’un ordinateur portable de 2 kg émet 103 kg de CO2, sur les 156 kg émis sur l’ensemble de son cycle de vie.</li>
        <li class="impact-item">La courte histoire des technologies aériennes. Il consistait à envoyer dans le ciel des ballons à l'hélium...</li>
        <li class="impact-item">La longue histoire des technologies sous-marines. Nous nous connectons aujourd’hui à Internet grâce à des câbles sous-marins...</li>
        <li class="impact-item">Data center. Là-bas, ils sont à l’origine de 2,35 % de la consommation totale d’électricité du pays...</li>
    </ul>
</div>





<link rel="stylesheet" href="{% static 'css/map.css' %}">

<!-- Chart code -->

<script src="{% static 'js/map.js' %}"></script>
<h1 id="title-map">Les émissions de CO2 dans le monde</h1>
<div id="chartdiv"></div>


<h1 id="title-map">Les pays émettant le plus de CO2</h1>
<div class="scoreboard">
  <div class="scoreboard__podiums">
    <div class="scoreboard__podium js-podium" data-height="200px">
      <div class="scoreboard__podium-base scoreboard__podium-base--second" style="height: 150px;">
        <div class="scoreboard__podium-rank">2</div>
      </div>
       <div class="scoreboard__podium-number">
           États-Unis
         <small><span class="js-podium-data">4257 Millions de tonnes</span></small>
      </div>
    
    </div>
    <div class="scoreboard__podium js-podium" data-height="250px">
       <div class="scoreboard__podium-base scoreboard__podium-base--first" style="height: 200px">
        <div class="scoreboard__podium-rank">1</div>
        
      </div>
        <div class="scoreboard__podium-number">
           Chine
          <small><span class="js-podium-data">10053 Millions de tonnes</span></small>
      </div>
    </div>
    <div class="scoreboard__podium js-podium" data-height="150px">
       <div class="scoreboard__podium-base scoreboard__podium-base--third" style="height: 100px;">
           <div class="scoreboard__podium-rank">3</div>
      </div>
        <div class="scoreboard__podium-number">
          Inde
          <small><span class="js-podium-data">2074 Millions de tonnes</span></small>
      </div>
    </div>
  </div>







<script>
function afficher_reponse(para) {
    const p = document.getElementById("reponse-"+para);
    p.removeAttribute("hidden"); 
}


function afficher_reponse(para, bool) {

const p = document.getElementById("reponse-"+para);
p.setAttribute("style","opacity: 0;animation: fadeIn 0.5s ease-in 1 forwards; display:block;@keyframesfadeIn{to{opacity: 1;}}")
}
</script>





{% endblock content %}