{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TETRIS GAMES WITH JAVASCRIPT</title>
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tetris/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tetris/infos.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tetris/pieces.css' %}"/>
  </head>
  <body>
    <div id="win">
      <h1>
        Félicitation vous avez perdu votre temps !<br><br> Avec un score de <span id="score_win"></span> points
      </h1>
      <a href="{% url 'index' %}">Cliquer pour retourner à l'accueil</a>
    </div>
    <audio id="audio" src="{% static 'music/Tetris_Theme_Officiel.mp3' %}" loop></audio>
    
    <div id="container">
      <div id="error">
        <h1>
          Error 404 : Page not found
        </h1>
        <p>Essayez d'atteindre 404 points pour voir cette page</p>
        <p>Utilsiez les flèches du clavier pour jouer</p>
      </div>
      <div id="tetris">
        <canvas id="canvas"></canvas>
        <div id="info">
          <canvas id="next_shape"></canvas>
          <div id="stats">
            <div>
              <h1>TETRIS</h1>
              <br/>
              <p>Lignes: <span id="lines"></span></p>
              <p>Score: <span id="score"></span></p>
            </div>
            <button id="start">
              <h1>
                Start
              </h1>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'js/tetris/constants.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tetris/block.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tetris/piece.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tetris/tetris.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tetris/script.js' %}"></script>
  </body>
</html>