#chartdiv {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    border: 1px solid #000000;
    background-color: #e0e0e0;
}
#title-map {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

  .scoreboard {
display: flex;
justify-content: center;
align-items: flex-end;
margin-top: 50px;
}

.scoreboard__podiums {
display: flex;
justify-content: space-between;
align-items: flex-end; /* Aligner les podiums sur leur bord inférieur */
width: 300px; /* Ajustez la largeur totale du podium */
}

.scoreboard__podium {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}

.scoreboard__podium-base {
width: 50px; /* Largeur de la base du podium */
height: 20px; /* Hauteur de la base du podium */
border-radius: 5px;
}

.scoreboard__podium-rank {
color: #fff;
font-weight: bold;
}

.scoreboard__podium-number {
margin-top: 5px;
text-align: center;
}

/* Animation pour les hauteurs des podiums */
.js-podium {
transition: height 0.5s ease-in-out;
}

/* Exemple de dégradé pour les podiums */
.scoreboard__podium:nth-child(1) .scoreboard__podium-base {
background: linear-gradient(to top, #c0c0c0, rgba(192, 192, 192, 0.5));
}

.scoreboard__podium:nth-child(2) .scoreboard__podium-base {
background: linear-gradient(to top, #ffd700, rgba(255, 215, 0, 0.5));
}

.scoreboard__podium:nth-child(3) .scoreboard__podium-base {
background: linear-gradient(to top, #cd7f32, rgba(205, 127, 50, 0.5)); /* Dégradé pour le troisième */
}