header, footer {
    background-color: #4ca47c;
}

body header nav h1 {
    font-family: "Comic Sans MS, Comic Sans, cursive";
    font-weight: bold;
}

/* .section {
    margin-bottom: 30px;
} */

.impact-list {
    list-style-type: none;
    padding: 0;
}

.impact-item {
    margin-bottom: 10px;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}